.container-fluid.top-margin
  %table.table.table-hover
    - @questions.each do |question|
      %tr
        %td
          .container-fluid
            .container-fluid.bottom-margin
              = link_to question do
                %h4= question.title

            - if question.tags.any?
              .container-fluid.pull-left.bottom-margin
                = render :partial => 'tags/tag', :collection => question.tags

            .container-fluid.pull-left
              %p asked by #{question.user.login}
