<h2>Questions</h2>

<!-- replace these with divs later -->
<table>
  <% @questions.each do |question| %>
  <tr>
    <td>
      <!-- alternatively: link_to question do -->
      <%= link_to question_path(question) do %>
      <%= question.title %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
