.container-fluid{:style => 'margin-bottom: 10px;'}
  = answer.body

.container-fluid
  - if session[:user_id]
    = link_to 'delete answer', [answer.question, answer], method: :delete, data: {:confirm => 'Are you sure?'}

-# .container-fluid.pull-left
-#   %p answered by #{answer.user.login}

%hr
