%table.table.table-hover
  %tr
    %td.vote-box
      .arrow-up
      .votes.text-center
        0
      .arrow-down

    %td
      .container-fluid.bottom-margin
        = answer.body

      .container-fluid.pull-left
        - if session[:user_id]
          = link_to 'delete', [answer.question, answer], method: :delete, data: {:confirm => 'Are you sure?'}

      .container-fluid.pull-left
        %p answered by #{answer.user.login}

%hr
