-# build: see ActiveRecord::Associations::CollectionProxy in rails api
= form_for [@question, @question.answers.build] do |f|
  .form-group
    = f.cktext_area :body, :ckeditor => {:toolbar => 'mini'}
  
  %p= f.submit 'Post answer'
